<!doctype html>
<html>
<head>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="perso, premium, mobile, template, HTML, CSS" />
<meta name="Description" content="Premium mobile HTML/CSS template." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- meta tags end -->
<title>收货地址</title>
<link href="/css/ecshopstyle.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />
</head>

<body style="background-color: #eee;">
<div class="ecshop_head" style="padding-bottom: 0px;"><p>收货地址</p></div>
<div class="ecshop_addressmain">
  <li>
	<h2>某某某   18012547896</h2>
	<div class="addressmain_add">
	<div class="peyment_content_iocn" style="float: left;position: absolute;margin-left: -18px;margin-top: -10px;">
			<input type="radio" name="sex" id="a" value="X" class="radio"><label for="a" class="radio"></label><br>
		</div>
	<p>上海市黄浦区速剑物流提供纸箱木箱等包装材料免费上门打包</p>
	<p style="text-align: right;"><a href="">编辑</a></p></div>
  </li>

<div class="addressmain_button"><a href="">+新增地址</a></div>

</body>
</html>