<!doctype html>
<html>
<head>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="perso, premium, mobile, template, HTML, CSS" />
<meta name="Description" content="Premium mobile HTML/CSS template." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- meta tags end -->
<title>全部评论</title>
<link href="/css/ecshopstyle.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />
</head>

<body>
<div class="ecshop_details_appraise">
	<p>全部评论</p>
      <ul>
        <li><a href="#">
           <div class="appraise_header"><img src="/img/apprise_header.jpg" alt=""/><p>魔法城堡化妆棉<br/>
           <span>敏感干性皮肤,混合性发质</span></p></div>
               <div class="appraise_content">商品名称：魔法城堡化妆棉 200片装特别说明：新老包装随机发货，产品品质如一，请放心购买。
保质期限：3年（以收到具体实物为准）产品规格：200片/盒适用人群：所有肌肤，尤其合适想要完美卸妆及使用化妆水的MM~生产地区：上海
产品包装：有盒无塑封为何使用化妆棉呢？最主要的用途就是卸妆，因为它的质地很柔软，卸妆的时候不容易把脸弄伤，而且把卸妆产品倒到上面用起来很舒服，也会把妆清除得很干净 。同时擦拭化妆水有二次清洁的作用，是护肤不可省略的一步。
                 <p> <img src="/img/classify_img_5.jpg" alt=""/>
                  <img src="/img/classify_img_6.jpg" alt=""/>
                  <img src="/img/classify_img_7.jpg" alt=""/></p>
               </div>
           <div style="clear: both;"></div>			
         </a></li>
         <li><a href="#">
           <div class="appraise_header"><img src="/img/apprise_header.jpg" alt=""/><p>魔法城堡化妆棉<br/>
           <span>敏感干性皮肤,混合性发质</span></p></div>
               <div class="appraise_content">所有肌肤，尤其合适想要完美卸妆及使用化妆水的MM~生产地区：上海
产品包装：有盒无塑封为何使用化妆棉呢？最主要的用途就是卸妆，因为它的质地很柔软，卸妆的时候不容易把脸弄伤，而且把卸妆产品倒到上面用起来很舒服，也会把妆清除得很干净 。同时擦拭化妆水有二次清洁的作用，是护肤不可省略的一步。
                   <p> <img src="/img/classify_img_5.jpg" alt=""/>
                  <img src="/img/classify_img_6.jpg" alt=""/>
                  <img src="/img/classify_img_7.jpg" alt=""/></p>
</div>
               <div style="clear: both;"></div>	
         </a></li>
       </ul>
     <p style="text-align: center; line-height: 40px; border-top: solid #eee 1px; font-size: 16px;"><a href="#">查看全部评论</a></p>
</div>
</body>
</html>