<!doctype html>
<html>
<head>
    <!-- meta tags start -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="perso, premium, mobile, template, HTML, CSS" />
    <meta name="Description" content="Premium mobile HTML/CSS template." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- meta tags end -->
    <title>404错误页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- Viewport metatags -->
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="/css/ecshopstyle.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/dandelion.css"  media="screen" />

</head>

<body>

<!-- Main Wrapper. Set this to 'fixed' for fixed layout and 'fluid' for fluid layout' -->
<div id="da-wrapper" class="fluid">

    <!-- Content -->
    <div id="da-content">

        <!-- Container -->
        <div class="da-container clearfix">

            <div id="da-error-wrapper">

                <div id="da-error-pin"></div>
                <div id="da-error-code">
                    error <span>404</span>                    </div>

                <h1 class="da-error-heading">哎哟喂！页面让狗狗叼走了！</h1>
                <p>大家可以到狗狗没有叼过的地方看看！ <a href="#" onclick="back();">点击返回</a></p>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div id="da-footer">
        <div class="da-container clearfix">
            <p> 2018 17beyodlmz . All Rights Reserved. <a href="http://www.baidu.com/" target="_blank">百度一下</a></div>
    </div>
</div>
<!-- End SlidesJS Required -->
<script>
    function back() {
        history.go(-1);
    }
</script>
</body>
</html>
