<!doctype html>
<html>
<head>
    <!-- meta tags start -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="perso, premium, mobile, template, HTML, CSS" />
    <meta name="Description" content="Premium mobile HTML/CSS template." />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<title>二维码APP</title>

</head>

<body  style="background-color:#fff; text-align: center;">
<div style="height: 120px;"></div>
<div style="height: 80px;"><h1 style="color: lightgreen;">WELCOME TO CMS-MALL SYSTEM！</h1></div>
                <div style="margin: 0 auto">
                    <img style="width:250px;height:250px;" src="loginQr.action" alt="SCANNER PLEASE"/>
                    <br/><span style="font-size: 14px; color:#eb7251 ;font-family:'Microsoft YaHei UI';">YOU CAN USE WECHAT TO SCAN THE QR CODE</span>
                </div>
</body>
</html>
