<!doctype html>
<html>
<head>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="perso, premium, mobile, template, HTML, CSS" />
<meta name="Description" content="Premium mobile HTML/CSS template." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- meta tags end -->
<title>首页</title>
<link href="/css/ecshopstyle.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />

</head>

<body>
<div class="ecshop_head">
<div class="ecshop_search">
<form action="search.html" method="post">
<a href="search.html"><i class="fa fa-search"></i></a>
<input type="text"  placeholder="搜索商品" class="wap-head-searchtext"/>
<input type="submit" value="搜索"  class="ecshop_search_submit"/>
</form>
</div>  
</div>
<div class="ecshop_banner">
<div class="container">
    <div id="slides">
      <a href="producdetails.html"><img src="/img/banner_1.jpg" alt=""/></a>
      <a href="producdetails.html"><img src="/img/banner_2.jpg" alt=""/></a>
      <a href="producdetails.html"> <img src="/img/banner_3.jpg" alt=""/></a>
      <a href="producdetails.html"><img src="/img/banner_4.jpg" alt=""/></a>
    </div>
  </div>	
</div>
<div class="ecshop_classify">
   <ul>
      <li>
         <a href="index/classify.action"><img src="/img/classify_img_2.jpg" alt=""/><div class="ecshop_classifyname">尚新女装</div></a>
      </li>
      <li>
         <a href="index/classify.action"><img src="/img/classify_img_4.jpg" alt=""/><div class="ecshop_classifyname">品质男装</div></a>
      </li>
      <li> 
         <a href="index/classify.action"><img src="/img/classify_img_3.jpg" alt=""/><div class="ecshop_classifyname">时尚鞋包</div></a>
      </li>
      <li>
         <a href="index/classify.action"><img src="/img/classify_img_1.jpg" alt=""/><div class="ecshop_classifyname">更多分类</div></a>
      </li>
   </ul>
</div>
<div class="ecshop_hotsell">
	<li><a href="producdetails.html"><img src="/img/hotsell_1.jpg" alt=""/>
	  <div class="ecshop_hotsell_introduction">
	  <p>Moschino’s</p>
	  <span>女款黑色蘑菇印花宽松短袖T恤全球品牌限量款同步上</span>
	  <h2>￥20548.00</h2>
	  </div>
	</a></li>
	<hr style="width: 100%; height: 15px; border:none; background-color: #eee; margin: 0;padding: 0; "></hr>
	<li><a href="producdetails.html"><img src="/img/hotsell_2.jpg" alt=""/>
	  <div class="ecshop_hotsell_introduction">
	  <p>Moschino’s</p>
	  <span>女款黑色蘑菇印花宽松短袖T恤全球品牌限量款同步上</span>
	  <h2>￥20548.00</h2>
	  </div>
	</a></li>
	<hr style="width: 100%; height: 15px; border:none; background-color: #eee; margin: 0;padding: 0; "></hr>
	<li><a href="producdetails.html"><img src="/img/hotsell_4.jpg" alt=""/>
	  <div class="ecshop_hotsell_introduction">
	  <p>Moschino’s</p>
	  <span>女款黑色蘑菇印花宽松短袖T恤全球品牌限量款同步上</span>
	  <h2>￥20548.00</h2>
	  </div>
	</a></li>
<hr style="width: 100%; height: 15px; border:none; background-color: #eee; margin: 0;padding: 0; "></hr>
</div>
<div class="ecshop_product">
	<li><a href="productlist.html"><img src="/img/hotsell_3.jpg" alt=""/>
     <div class="ecshop_product_discount">满4000减500，上不封顶</div>
     <div class="ecshop_product_introduction">
     <p><span style="font-size:20px; color: #c70000; margin-right: 10px;">0.4折起</span>Marmont Matelassé 走秀款专场恤全球品牌</p>
     <h2>数以千万的全球顶级买手带你体验世界各地买手店，领略VIP服务发现好品味</h2>	
     </div>
     </a></li>
     <hr style="width: 100%; height: 15px; border:none; background-color: #eee; margin: 0;padding: 0; "></hr>
     <li><a href="productlist.html"><img src="/img/hotsell_5.jpg" alt=""/>
     <div class="ecshop_product_discount">满4000减500，上不封顶</div>
     <div class="ecshop_product_introduction">
     <p><span style="font-size:20px; color: #c70000; margin-right: 10px;">0.4折起</span>Marmont Matelassé 走秀款专场恤全球品牌</p>
     <h2>数以千万的全球顶级买手带你体验世界各地买手店，领略VIP服务发现好品味</h2>	
     </div>
     </a></li>
</div>
<div style="clear: both; height: 40px;"></div>
<div class="ecshop_footer">
  <li><a href="../index/index.action"><div class="ecshop_footer_icon"><img src="/img/home_icon.png" alt=""/><p>首页</p></div></a></li>
  <li><a href="../index/classify.action"><div class="ecshop_footer_icon"><img src="/img/classify_icon.png" alt=""/><p>分类</p></div></a></li>
  <li><a href="../index/shopcart.action"><div class="ecshop_footer_icon"><img src="/img/shopcart_icon.png" alt=""/><p>购物车</p></div></a></li>
  <li><a href="../index/mycenter.action"><div class="ecshop_footer_icon"><img src="/img/user_icon.png" alt=""/><p>我的</p></div></a></li>
</div>
<div class="ecshop_top"><a href="javascript:scroll(0,0)"><img src="/img/top_icon.png" alt=""/></a></div>
<!-- <div class="ecshop_footer2">
 <li><a href="#"><img src="img/home_icon.png" alt=""/></a></li> 
 <li><a href="#"><img src="img/shopcart_icon.png" alt=""/></a></li>
 <li><a href="#"><img src="img/user_icon.png" alt=""/></a></li>
</div> -->
 
  <script src="/js/jquery-1.9.1.min.js"></script>
  <!-- End SlidesJS Required -->

  <!-- SlidesJS Required: Link to jquery.slides.js -->
  <script src="/js/jquery.slides.min.js"></script>
  <!-- End SlidesJS Required -->

  <!-- SlidesJS Required: Initialize SlidesJS with a jQuery doc ready -->
  <script>
    $(function() {
      $('#slides').slidesjs({
        width: 940,
        height: 528,
        navigation: false,
        play: {
            active: false,
            auto: false,
            interval: 4000,
            swap: false
        }
      });
    });
  </script>
  <!-- End SlidesJS Required -->
</body>
</html>
