<!doctype html>
<html>
<head>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="perso, premium, mobile, template, HTML, CSS" />
<meta name="Description" content="Premium mobile HTML/CSS template." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- meta tags end -->
<title>已发货</title>
<link href="/css/ecshopstyle.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />
</head>

<body style="background-color: #eee;">
<div class="ecshop_head" style="padding-bottom: 0px;"><p>已发货</p></div>
<div class="receipt_msg">
	<h2>已发货</h2>
	<p>订单号：25688511</p>
</div>
<div class="receipt_msg" style="margin-top:10px;">
	<p>物流公司：中途快递</p>
	<p>快递单号：12588413311</p>
	<p>快递电话：021-25662288</p>
</div>
<div class="ecshop_logistics_content">
  <ul class="cbp_tmtimeline">
    <li>
        
        <div class="cbp_tmicon cbp_tmicon-phone"></div>
        <div class="cbp_tmlabel">
            <h2>速剑物流提供行李托运。长途搬家托运。轿车托运。家具托运。市内搬家，市及县均可到达，速剑物流提供纸箱木箱等包装材料免费上门打包，咨询热线：<span style="color: #007aff;">021-69152837</span></h2>
            <h2>2015-10-25 13:12</h2>
        </div>
    </li>
    <li>
       
        <div class="cbp_tmicon cbp_tmicon-screen"></div>
        <div class="cbp_tmlabel">
            <p>Caulie dandelion maize...</p>
        </div>
    </li>
    <li>
        
        <div class="cbp_tmicon cbp_tmicon-mail"></div>
        <div class="cbp_tmlabel">    
            <p>Parsnip lotus root...</p>
        </div>
    </li>
    <li>
        
        <div class="cbp_tmicon cbp_tmicon-phone"></div>
        <div class="cbp_tmlabel">
            <p>Peanut gourd nori...</p>
        </div>
    </li>
</ul>

</div>
</body>
</html>