<!doctype html>
<html>
<head>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="perso, premium, mobile, template, HTML, CSS" />
<meta name="Description" content="Premium mobile HTML/CSS template." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- meta tags end -->
<title>支付订单</title>
<link href="/css/ecshopstyle.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />
	<!--微信H5支付引入 -->
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<!--支付宝H5支付引入 -->
	<script src="https://gw.alipayobjects.com/as/g/h5-lib/alipayjsapi/3.1.0/alipayjsapi.min.js"></script>
<script src="/js/jquery-1.9.1.min.js"></script>
</head>

<body style="background-color: #eee;">
<div class="ecshop_head" style="padding-bottom: 0px;"><p>支付订单</p></div>
<div class="ecshop_peyment">
<p>订单金额<span>￥1256</span></p>
<hr style=" width: 100%; height: 1px; border:none; background-color: #eee; "></hr>
<p>积分金额<span>561256</span></p>
</div>
<div class="ecshop_peyment_content">
	<p>选择支付方式</p>
	<ul>
		<li>
		<div class="peyment_content_img"><img src="/img/zhifubao_icon.png" alt=""/></div>
		<div class="peyment_content_title"><p>支付宝支付</p><p><span>欢迎登录支付宝,支付宝-全球领先的独立</span></p></div>
		<div class="peyment_content_iocn">
			<input type="radio" name="sex" id="a" value="X" class="radio"><label for="a" class="radio"></label><br>
		</div>
		</li>
		<li style="border:none;">
		<div class="peyment_content_img"><img src="/img/wechat_icon.png" alt=""/></div>
		<div class="peyment_content_title"><p>微信支付</p><p><span>欢迎登录微信,微信-全球领先的独立</span></p></div>
		<div class="peyment_content_iocn">
			 <input type="radio" name="sex" id="b" value="M" class="radio"><label for="b" class="radio" ></label><br>
		</div>
		</li>
	</ul>
</div>
<div class="ecshop_shopcart_footer" style="height:70px;">
   <div class="ecshop_shopcart_statement" style="margin-top: 10px;"><a href="#" onclick="submitAndPay();">立即支付</a></div>
</div> 

<script>

    $(document).ready(function(){
		//选择
		var flag1='fa fa-circle-thin';
		var flag2='fa fa-check-circle';
		$('.peyment_content_iocn').click(function(){
           var name= $(this).children().children().attr('class');
           console.log(name);
           if(name==flag1){
               $(this).children().children().attr('class',flag2);
               $(this).css('background',"#fff");
               $(this).children().children().css('color','red');
               $(this).children().children().css('font-size','24px');
           } else{
           	    $(this).children().children().attr('class',flag1);
           	     $(this).css('background',"#fff");
           	     $(this).children().children().css('color','#999');
           	     $(this).children().children().css('font-size','18px');
           }
           });

        payWxInit();
           
		});

    function payWxInit() {
        //加载微信支付配置
        $.ajax({
            type : "GET",
            url : "/wx/jsInit.action",
            data : {
                "config_url":window.location.href,
            },
            dataType : "json",
            success : function(data) {
                wx.config({
                    debug: true,//开启调试模式
                    appId: data.appid,
                    timestamp: data.timestamp,
                    nonceStr: data.nonceStr,
                    signature: data.signature,
                    jsApiList: [
                        'checkJsApi',
                        'chooseWXPay',
                        'chooseImage',
                        'uploadImage',
                        'downloadImage'
                    ]
                });

                wx.ready(function(){
                    alert("验证通过");
                });

                wx.error(function(res){
                    alert('验证失败');
                });
            }
        });
    }
    
    function aliPayInit() {
        ap.chooseImage(function(res){
            if(res.apFilePaths && res.apFilePaths.length > 0) {
                yourImageDom.onload = function() {
                    ap.alert('图片加载成功');
                };
                yourImageDom.onerror = function() {
                    ap.showToast('图片加载失败');
                };
                yourImageDom.src = res.apFilePaths[0];
            }
        });

        ap.confirm('Hello Alipay!', function(result){
            ap.showToast(result.confirm ? '确定' : '取消');
        });


    }
    
    function submitAndPay() {
        //发起微信支付
        $.ajax({
            type : "GET",
            url : "/wx/pay.action",
            data : {
                tradeId:'2306231423458709'
            },
            dataType : "json",
            success : function(data) {
                wx.chooseWXPay({
                    timestamp: data.timeStamp,
                    nonceStr: data.nonceStr,
                    package: data.packageValue,
                    signType: data.signType, // 注意：新版支付接口使用 MD5 加密
                    paySign: data.paySign,
                    success: function (res) {
                        console.log(res);
                    },
                    cancel:function (res) {
                        alert('支付取消');
                    },
                    fail: function (res) {
                        alert("支付失败");
                        //window.location.reload();
                    }
                });
            }
        });
    }
		
</script>
</body>
</html>
