<!doctype html>
<html>
<head>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="perso, premium, mobile, template, HTML, CSS" />
<meta name="Description" content="Premium mobile HTML/CSS template." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- meta tags end -->
<title>添加收货地址</title>
<link href="/css/ecshopstyle.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />
</head>

<body style="background-color: #eee;">
<div class="ecshop_head" style="padding-bottom: 0px;"><p>添加收货地址<span><a href="">保存</a></span></p></div>
<div class="ecshop_increasemain">
	<li>收货地址<input type="text"  placeholder="请输入收货人的真实姓名" class="wap-head-searchtext"  value="某某某"></li>
	<li>收货地址<input type="text"  placeholder="请输入收货人的手机号" class="wap-head-searchtext" value="158****2222" ></li>
	<li>所在地区<input type="text"  placeholder="所在地区" class="wap-head-searchtext" value="上海市" ></li>
	<li style="border:none;">详细地址<input type="text"  placeholder="请输入收货人的手机号" class="wap-head-searchtext" value="好很报表列表类别类别" ></li>
</div>
<div class="ecshop_reviseadd_del"><a href="">删除</a></div>
</body>
</html>