<!doctype html>
<html>
<head>
<!-- meta tags start -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="perso, premium, mobile, template, HTML, CSS" />
<meta name="Description" content="Premium mobile HTML/CSS template." />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<!-- meta tags end -->
<title>提交订单</title>
<link href="/css/ecshopstyle.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />
</head>

<body style="background-color: #eee;">
<div class="ecshop_head" style="padding-bottom: 0px;"><p>提交订单</p></div>
<div class="echop_sumbitaddress">
	<div class="echop_sumbitaddress_icon"><img src="/img/gps_icon2.png" alt=""/></i></div>
	<div class="echop_sumbitaddress_lane"><p style="height: 30px;">某某某&nbsp&nbsp&nbsp&nbsp15822266543</p>
      <p>上海市市辖区是一串的字符，内含国家是一串的字符内含国家发生大城市或乡村、街道、门牌号码、屋邨、大厦等建筑物</p>
	</div>
	<div class="echop_sumbitaddress_icon" style="float: right; text-align: right;"><a href="#"><img src="/img/turn-right_icon2.png" alt=""/></a></div>
</div>
<div class="echop_submitorder_content">
	<ul>
		<li>
		   <div class="shopcart_content_img"><img src="/img/shopcart_1.jpg" alt=""/></div>
           <div class="shopcart_content_name" style="width:75%;">
	   	     <p>黑蓝/米色修身蕾丝八分袖连衣裙</p><h2>￥1250</h2>
	   	     <p style=" color: #999; font-size: 14px; width: 100%;">400ml<span style="float: right;">x1</span></p>
	   	   </div>
		</li>
		<li>
		   <div class="shopcart_content_img"><img src="/img/shopcart_1.jpg" alt=""/></div>
           <div class="shopcart_content_name" style="width:75%;">
	   	     <p>黑蓝/米色修身蕾丝八分袖连衣裙</p><h2>￥1250</h2>
	   	     <p style=" color: #999; font-size: 14px; width: 100%;">400ml<span style="float: right;">x1</span></p>
	   	   </div>
		</li>
		<li>
		   <div class="shopcart_content_img"><img src="/img/shopcart_1.jpg" alt=""/></div>
           <div class="shopcart_content_name" style="width:75%;">
	   	     <p>黑蓝/米色修身蕾丝八分袖连衣裙</p><h2>￥1250</h2>
	   	     <p style=" color: #999; font-size: 14px; width: 100%;">400ml<span style="float: right;">x1</span></p>
	   	   </div>
		</li>
	</ul>
	<div class="shopcart_content_luggage">运费<span>快递：￥0</span></div>
	<div class="shopcart_content_luggage" style="border:none;">合计<span style="color: #cf0000; font-size: 18px;">￥1256</span></div>
</div>
<div class="ecshop_shopcart_footer" style="height:70px;">
   <div class="ecshop_shopcart_statement" style="margin-top: 10px;"><a href="payment.html">结&nbsp&nbsp&nbsp算</a></div>
</div> 
</body>
</html>